DATABASE_HOST=postgres_server
DATABASE_NAME=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DEBUG=TRUE


ELASTICSEARCH_HOST=http://elasticsearch_server:9200 # Não funciona com localhost, é necessário setar o nome do container
