DATABASE_HOST=postgres_server
DATABASE_NAME=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DEBUG=TRUE
SECRET_KEY=_#&x5=*d13^4(w09&o0)dyi1770b!=yxa%x^_^37ii7m&#i63a

ELASTICSEARCH_HOST=http://elasticsearch_server:9200 # Necessary set container name, not localhost

LOG_FILE=/tmp/client_data.log